<aside class="sidebar">
    <div class="sidebar-logo">
        <svg width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#4ecdc4" stroke-width="2.5"
            stroke-linecap="round" stroke-linejoin="round">
            <path d="M12 2L2 7l10 5 10-5-10-5z"></path>
            <path d="M2 17l10 5 10-5"></path>
            <path d="M2 12l10 5 10-5"></path>
        </svg>
        <div class="title-sidebar">
        <span >HỆ THỐNG</span>
        <span >QUẢN LÝ HỒ SƠ</span>
        </div>

    </div>

    <nav class="sidebar-nav">
<ul nz-menu nzMode="inline" nzTheme="dark" class="custom-menu">

  <ng-container *ngFor="let menu of myMenus">

    <!-- Menu thường -->
    <li
      nz-menu-item
      *ngIf="!menu.children || menu.children.length === 0"
      [routerLink]="menu.path"
    >
      <span nz-icon [nzType]="menu.icon || 'file'"></span>
      <span>{{ menu.name }}</span>
    </li>

    <!-- Menu cha -->
    <li
      nz-submenu
      *ngIf="menu.children && menu.children.length > 0"
      [nzTitle]="menu.name"
      [nzIcon]="menu.icon || 'folder'"
    >
      <ul>
        <li
          nz-menu-item
          *ngFor="let child of menu.children"
          [routerLink]="child.path"
        >
          <span nz-icon [nzType]="child.icon || 'file'"></span>
          <span>{{ child.name }}</span>
        </li>
      </ul>
    </li>

  </ng-container>

</ul>
</nav>

</aside>